.mblDomButtonBlueInfo {
	position: relative;
	width: 29px;
	height: 29px;
	background: rgba(255, 255, 255, 0.1);
	pointer-events: all !important;
}
.mblDomButtonBlueInfo>div {
	position: relative;
	top: 2px;
	left: 8px;
	width: 21px;
	height: 21px;
	border: 1px solid #007aff !important;
	border-radius: 12px;
}
.mblDomButtonBlueInfo>div>div {
	position: relative;
	top: 9px;
	left: 9px;
	width: 3px;
	height: 8px;
	border-radius: 2px;
	background: #007aff;
}
.mblDomButtonBlueInfo>div>div>div {
	position: relative;
	top: -5px;
	width: 3px;
	height: 3px;
	border-radius: 2px;
	background: #007aff;
}
